$primary-normal: #43f6cc;
$primary-light: #9cfbe1;
$primary-light-2: #b7fceb;
$primary-light-3: #d1fef5;
$primary-light-4: #ecffff;

$second-normal: #49917d;

$white-normal: #fff;
$white-dark: rgba(255, 255, 255, 0.404);

$black-normal: black;